@using ManageWeb
@model ManageDomain.Models.Customer
@{
    ViewBag.Title = (Model == null) ? "新增客户" : "修改客户";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
    ManageDomain.Models.Customer customer = Model;
    if (customer == null)
    {
        customer = new ManageDomain.Models.Customer();
    }
    List<ManageDomain.Models.Manager> managers = ViewBag.managers;
    List<ManageDomain.Models.CustomerLinkManager> linkmanagers = customer.LinkManagers;// ViewBag.linkmanagers;

}
@section Head{
    <script type="text/javascript">
        ///<reference path="/scripts/jquery-1.9.1.js" />
        ///<reference path="/scripts/main.js" />
        function addconfig() {
            var t = '             <tr>     <td> <input type="text" class="form-control" placeholder="请尽量只使用字母和下划线" name="configkey" value="" />  </td>   ' +
                       '                 <td>   <input type="text" class="form-control" placeholder="" name="configvalue" value="" /> </td>   ' +
                       '                 <td> <input type="text" class="form-control" placeholder="" name="configremark" value="" />   </td> ' +
                       '                 <td> <button type="button" class="btn btn-danger" onclick="deleteconfig(this)">删除</button>  </td>  </tr>';
            $("#p_proconfig tbody").append(t);
        }
        function deleteconfig(e) {
            if (!confirm('你确定要删除吗(保存后删除生效)？'))
                return;
            $(e).parents('tr').remove();
        }

        function addtag() {
            var t = '<tr>    <td>  <input type="text" class="form-control" placeholder="" name="tag" value=""> </td>' +
                           '         <td>  <button type="button" class="btn btn-danger" onclick="deletetag(this)">删除</button>  </td> </tr>';
            $("#tb_tag tbody").append(t);
        }

        function deletetag(e) {
            if (!confirm('你确定要删除吗(保存后删除生效)？'))
                return;
            $(e).parents('tr').remove();
        }

        function addlink() {
            var mid = $("#managerlist").val();
            var text = $("#managerlist option:selected").text();
            if (!mid)
                return;
            var exist = false;
            $("#tb_links .link-managerid").each(function () {
                if ($(this).val() == mid)
                    exist = true;
            });
            if (exist)
                return;
            var t = ' <tr>  <td>' + text + '</td>  <td>  <input type="hidden"  class="link-managerid" name="linkmanagers_managerid" value="' + mid + '"> ' +
                '<input type="text" class="form-control" placeholder="责任名，如 前端开发" name="linkmanagers_title" value=""> </td>' +
                 '                   <td> <input type="text" class="form-control" placeholder="说明" name="linkmanagers_remark" value="">  </td>' +
                  '                  <td> <button type="button" class="btn btn-danger" onclick="deletetag(this)">删除</button> </td> </tr>';


            $("#tb_links tbody").append(t);
        }

    </script>
}
<h2>编辑客户信息 @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })</h2>
<p></p>
<div>
    <form class="form-horizontal" role="form" method="post">
        <div class="form-group">
            <label for="CusId" class="col-sm-2 control-label">客户ID</label>
            <div class="col-sm-10">
                @if (customer.CusId <= 0)
                {
                    <input type="text" class="form-control cc-width-4" name="CusId" id="CusId" placeholder="自动生成" readonly="readonly" value=""> }
                else
                {
                    <input type="text" class="form-control cc-width-4" name="CusId" id="CusId" readonly="readonly" value="@customer.CusId">
                }
            </div>
        </div>
        <div class="form-group">
            <label for="CusNo" class="col-sm-2 control-label">客户编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control cc-width-4" name="CusNo" id="CusNo" placeholder="" value="@customer.CusNo">
            </div>
        </div>
        <div class="form-group">
            <label for="CustomerName" class="col-sm-2 control-label">客户名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control cc-width-4" id="CustomerName" name="CustomerName" value="@customer.CustomerName">
            </div>
        </div>
        <div class="form-group">
            <label for="State" class="col-sm-2 control-label">客户状态</label>
            <div class="col-sm-10">
                @Html.DropDownList("State", new List<SelectListItem>() {
                new SelectListItem(){ Text = "待上线" ,Value ="0", Selected = customer.State==0},
                new SelectListItem(){ Text = "服务中" ,Value ="1", Selected = customer.State==1},
                new SelectListItem(){ Text = "停止服务" ,Value ="2", Selected = customer.State==2}
                }, new { @class = "form-control  cc-width-3" })
            </div>
            @*new SelectListItem(){ Text = "删除" ,Value ="-1", Selected = model.State==-1}*@
        </div>

        <div class="form-group">
            <label for="WebDomains" class="col-sm-2 control-label">网站域名</label>
            <div class="col-sm-10">
                <textarea class="form-control cc-width-6" rows="6" id="WebDomains" name="WebDomains">@customer.WebDomains</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="WebDomains" class="col-sm-2 control-label">关联员工列表</label>
            <div class="col-sm-10">
                <div class="panel panel-default cc-width-6">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <select class="form-control cc-width-3 cc-display-inline-block" id="managerlist">
                                @foreach (var a in managers)
                                {
                                    <option value="@a.ManagerId">@a.Name</option>
                                }
                            </select>
                            <button type="button" class="btn btn-primary" onclick="addlink()">增加关联</button>
                        </h3>
                    </div>
                    <table class="table table-bordered" id="tb_links">
                        <tbody>
                            @foreach (var a in linkmanagers)
                            {
                                <tr>
                                    <td>@a.ManagerName</td>
                                    <td>
                                        <input type="hidden" name="linkmanagers_managerid" class="link-managerid" value="@a.ManagerId">
                                        <input type="text" class="form-control" placeholder="" name="linkmanagers_title" value="@a.Title">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="" name="linkmanagers_remark" value="@a.Remark">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="deletetag(this)">删除</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="SubmitTime" class="col-sm-2 control-label">提交时间</label>
            <div class="col-sm-10">
                <input type="text" class="form-control cc-width-2" id="SubmitTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" name="SubmitTime" value="@Html.ToDateString(customer.SubmitTime, "yyyy-MM-dd HH:mm:ss")">
            </div>
        </div>
        <div class="form-group">
            <label for="ContractNo" class="col-sm-2 control-label">合同编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control cc-width-2" id="ContractNo" name="ContractNo" value="@customer.ContractNo">
            </div>
        </div>
        <div class="form-group">
            <label for="ContractBeginTime" class="col-sm-2 control-label">合同日期</label>
            <div class="col-sm-10">
                <input type="text" class="form-control cc-width-2 cc-display-inline-block" id="ContractBeginTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" name="ContractBeginTime" value="@Html.ToDateString(customer.ContractBeginTime,"yyyy-MM-dd")">
                <input type="text" class="form-control cc-width-2 cc-display-inline-block" id="ContractEndTime" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" name="ContractEndTime" value="@Html.ToDateString(customer.ContractEndTime, "yyyy-MM-dd")">
            </div>
        </div>

        <div class="form-group">
            <label for="ContractRemark" class="col-sm-2 control-label">合同说明</label>
            <div class="col-sm-10">
                <textarea class="form-control cc-width-6" rows="10" id="ContractRemark" name="ContractRemark">@customer.ContractRemark</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="CustomFunction" class="col-sm-2 control-label">定制功能</label>
            <div class="col-sm-10">
                <textarea class="form-control cc-width-6" rows="10" id="CustomFunction" name="CustomFunction">@customer.CustomFunction</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="ServerOfType" class="col-sm-2 control-label">服务器类型</label>
            <div class="col-sm-10">
                @Html.DropDownList("ServerOfType", new List<SelectListItem>() {
                new SelectListItem(){ Text = "未定" ,Value ="0", Selected = customer.ServerOfType==0},
                new SelectListItem(){ Text = "公司服务器" ,Value ="1", Selected = customer.ServerOfType==1},
                new SelectListItem(){ Text = "客户自有" ,Value ="2", Selected = customer.ServerOfType==2},
                new SelectListItem(){ Text = "复合" ,Value ="3", Selected = customer.ServerOfType==3}
                }, new { @class = "form-control  cc-width-3" })
            </div>
            @*new SelectListItem(){ Text = "删除" ,Value ="-1", Selected = model.State==-1}*@
        </div>
        <div class="form-group">
            <label for="ServerRemark" class="col-sm-2 control-label">服务器说明</label>
            <div class="col-sm-10">
                <textarea class="form-control cc-width-6" rows="6" id="ServerRemark" name="ServerRemark">@customer.ServerRemark</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-10">
                <div class="panel panel-default" style="max-width:400px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <button type="button" class="btn btn-primary" onclick="addtag()">增加标签</button>
                        </h3>
                    </div>
                    <table class="table table-bordered" id="tb_tag">
                        <tbody>
                            @foreach (var a in ManageDomain.Pub.SplitTags(customer.Tag))
                            {
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" placeholder="" name="tag" value="@a">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="deletetag(this)">删除</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="Remark" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control cc-width-6" rows="4" id="Remark" name="Remark">@(customer.Remark)</textarea>
            </div>
        </div>
        @if (customer.CusId > 0)
        {
            <div class="form-group">
                <label for="serverName" class="col-sm-2 control-label">创建时间</label>
                <div class="col-sm-10">
                    <span class="help-block">@Html.ToDateString(customer.CreateTime)</span>
                </div>
            </div>
            <div class="form-group">
                <label for="serverName" class="col-sm-2 control-label">更新时间</label>
                <div class="col-sm-10">
                    <span class="help-block">@Html.ToDateString(customer.UpdateTime)</span>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @if (customer.CusId <= 0)
                {
                    <button type="submit" class="btn btn-primary">新增</button>}
                else
                {
                    <button type="submit" class="btn btn-primary">保存</button>
                }
                <span class="label label-info">@ViewBag.msg</span>
            </div>
        </div>
    </form>
</div>